<div class="c<over">
    {AUTH_ERRORS}
    <form action="../../scripts/auth.php" method="post">
        <label for="auth_nickname">Никнейм:</label>
        <input class="form-control" id="auth_nickname" type="text" name="auth_nickname">
        <br>
        <label for="auth_password">Пароль:</label>
        <input class="form-control" id="auth_password" type="password" name="auth_password">
        <br>
        <div class="btn-group">
            <button class="btn btn-default" type="submit">Авторизироваться</button>
            <a class="btn btn-default" href="/">На главную</a>
        </div>
    </form>
</div>